:root {
  --primary-color: #333; /* ダークモード時のメインカラー */
  --background-color: #f0f0f0; /* ダークモード時の背景色 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff; /* ライトモード時のメインカラー */
    --background-color: #222; /* ライトモード時の背景色 */
  }
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}
a:link {
  color: #007bff; /* 通常時のリンクの色 */
}

@media (prefers-color-scheme: dark) {
  a:link {
    color: #fff; /* ダークモード時のリンクの色 */
  }
}
a:visited {
  color: inherit; /* または、リンクのデフォルトの色にしたい色を指定 */
}
body {
  animation: fadeIn .5s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
